*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
    letter-spacing: 0.2vw;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

#main{
    height: 100vh;
    width: 100vw;
}

#nav{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 1.5vw;

}

#nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

h3{
    font-weight: 400;
    font-size: 22px;
}

#center{
    height: 78vh;
    width: 100vw;
}

#center h1{
    font-size: 150px;
    font-weight: 500;
    line-height: 120px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 9;
}

#center h1:nth-child(1){
    padding-top: 180px;
    padding-left: 5.6vw;
}

#center h1:nth-child(2){
    text-align: center;
}

#center h1:nth-child(3){
    text-align: center;
}

#img1{
    height: 400px;
    width: 260px;
    position: absolute;
    top:16%;
    left: 40%;
    rotate: 20deg;
}

#img2{
    height: 400px;
    width: 260px;
    position: absolute;
    top:14%;
    left: 40%;
    rotate: 10deg;
}

#img3{
    height: 400px;
    width: 260px;
    position: absolute;
    top:16%;
    left: 40%;
}

#footer{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 1.5vh 1.5vw;
    gap: 28vw;
    text-align: center;
}