*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: azure;
    justify-content: center;
    align-items: center;
    display: flex;
}

#circle{
    height: 300px;
    width: 300px;
    background: linear-gradient(#0061ff , #60efff);
    border-radius: 50%;
}