*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monument;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color:#000;
}

#page2{
    height: 100%;
    width: 100%;
    background-color:#000;
    position: relative;
}

#page2 img{
    height: 100%;
    width: 20%;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#page3{
    height: 100%;
    width: 100%;
    background-color:#000;
}

#page4{
    height: 100%;
    width: 100%;
    background-color:#001eff;
    color: rgb(0, 0, 0);
    font-size: 16vw;
}

#page5{
    height: 100%;
    width: 100%;
    background-color:#000;
}

