*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    padding: 8vw;
}

button{
    padding: 20px 30px;
    background-color: transparent;
    color: cyan;
    border: 3px solid cyan ;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

button::after{
    content: "";
    width: 100px;
    height:100px;
    position: absolute;
    background-color: cyan;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) scale(0);
    transition: all linear 0.5s;
    z-index: -1;

}

button:hover::after{
    transform:translate(-50% , -50%) scale(3)
   
}

button:hover{
    color: black;
}