* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

.makeitred{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}